---
title: Emily's Homepage
---
.row
  .twelve.columns
    %h3 Welcome to my humble abode!

    %div{class: "front_box"}
      %h5 Check out some sweet apps I have been working on!
      %div{class: "front_content"}
        %table
          %tr
            %td
              %a{href: "http://herfluffymajesty.com/"}
                %img{src: "/images/blog_imgs/her-fluffy-majesty.png", alt: "Her Fluffy Majesty - a website of more current projects"}
          %tr
            %td
              %a{href: "https://paint-color-mixer.herokuapp.com/"}
                %img{src: "/images/blog_imgs/paint-color-mixer.png", alt: "Paint Color Mixer - helps choose colors and indicate how to mix them"}
          %tr
            %td
              %table
                %tr
                  %td
                    %a{href: "https://herbal-notebook.herokuapp.com/"}
                      %img{src: "/images/blog_imgs/herbal-notebook.png", alt: "Herbal Notebook - find out properties of herbs"}
                  %td
                    %a{href: "https://github.com/craftninja/exp-starter-api/"}
                      %img{src: "/images/blog_imgs/exp-starter-api.png", alt: "Basic Express / PostgreSQL API"}
          %tr
            %td
              %a{href: "https://ten-000.herokuapp.com/"}
                %img{src: "/images/blog_imgs/ten-000-index.png", alt: "TenThousand - A fun dice game to play with a friend"}
          %tr
            %td
              %table
                %tr
                  %td
                    %a{href: "https://stumper-stumper.herokuapp.com/"}
                      %img{src: "/images/blog_imgs/stumper-stumper-index.png", alt: "StumperStumper - A game based on an old Texas Instruments toy"}
                  %td
                    %a{href: "https://phone-interview-me.herokuapp.com/"}
                      %img{src: "/images/blog_imgs/phone-interview-me-index.png", alt: "Phone Interview Me - An app that helps you prepare for employment phone interviews"}

      %h5 Did you know? <a href="http://www.ravelry.com/designers/emily-platzer">I am also a knitwear designer...</a>
      %div{class: "front_content"}
        %table
          %tr
            %td
              %a{href: "http://www.ravelry.com/patterns/library/my-favorite-cardigan-2"}
                %img{src: "/images/blog_imgs/Favorite-cardigan-cover2_medium2.jpg"}
            %td
              %a{href: "http://www.ravelry.com/patterns/library/guillemet-hat"}
                %img{src: "/images/blog_imgs/Guillemet-cover_medium2.jpg"}
          %tr
            %td
              %a{href: "http://www.ravelry.com/patterns/library/snowy-day-cowl"}
                %img{src: "/images/blog_imgs/Cowl1Warmcrop_medium2.jpg"}
            %td
              %a{href: "http://www.ravelry.com/patterns/library/florence-shawl"}
                %img{src: "/images/blog_imgs/florence_shawl_medium2.jpg"}

    %div{class: "front_box"}
      %h5 Manifesta
      %div{class: "front_content"}
        - article = page_articles.last
        .panel
          %h3
            = link_to article.title, article
          = find_and_preserve do
            = article.summary
